@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
htlm, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #707070;
}

a {
  text-decoration: none;
  color: #AEAEAE;
}
a:hover {
  text-decoration: underline;
  color: #707070;
  transition: all 0.3s;
}

button {
  border: 1px solid #AEAEAE;
  background-color: transparent;
  color: #AEAEAE;
  transition: all 0.3s;
}
button:hover {
  background-color: #707070;
  color: #EFEFEF;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo btn" "menu menu";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu";
    min-width: 1175px;
  }
}
header .logomenu {
  grid-area: logo;
}
header #topmenu {
  grid-area: menu;
}
@media (min-width: 992px) {
  header #topmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header #topmenu .topmenu-links {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
header #topmenu .topmenu-links .menulink {
  display: block;
  margin: 0 20px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  header #topmenu .topmenu-links .menulink {
    display: inline-block;
    margin-top: 0;
  }
}
header #topmenu .topmenu-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (min-width: 992px) {
  header #topmenu .topmenu-icons {
    position: static;
  }
}
header #topmenu .topmenu-icons .menulinkicon {
  margin-left: 15px;
}
header .btn-toggle {
  grid-area: btn;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-top: 5px;
}
@media (min-width: 992px) {
  header .btn-toggle {
    display: none;
  }
}

.showcase {
  background-color: #F3F2F2;
  padding: 50px 0;
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.showcase .container .showcasetext {
  font-family: "Poppins", sans-serif;
  color: #000000;
}
@media (min-width: 992px) {
  .showcase .container .showcasetext {
    text-align: left;
    margin-left: 10px;
  }
}
.showcase .container .showcasetext .ingress {
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .showcase .container .showcasetext .ingress {
    font-size: 18px;
  }
}
.showcase .container .showcasetext .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .showcase .container .showcasetext .title {
    font-size: 60px;
  }
}
.showcase .container .showcasetext .shopnowbtn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #EFEFEF;
  background-color: #FA3150;
  height: 100px;
  width: 2000px;
  border: none;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .showcase .container .showcasetext .shopnowbtn {
    height: 55px;
    width: 185px;
  }
}
.showcase .container .showcasetext .shopnowbtn:hover {
  background-color: #DC143C;
  color: #AEAEAE;
  transition: all 0.3s;
}
.showcase .container .showcaseimage {
  display: none;
}
@media (min-width: 992px) {
  .showcase .container .showcaseimage {
    display: block;
    height: 647px;
    width: 625px;
  }
}

.best {
  padding-top: 20px;
  background-color: white;
}
.best .container .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .best .container .title {
    font-size: 48px;
    margin-bottom: 30px;
  }
}
.best .container .clickabletext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #626262;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.best .container .clickabletext .pointer {
  pointer-events: all;
}
.best .container .clickabletext a {
  display: inline-block;
  pointer-events: none;
  margin-left: 10px;
}
.best .container .clickabletext a:hover {
  color: #000000;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .best .container .clickabletext {
    font-size: 16px;
    display: flex;
  }
}
.best .container .grid {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
@media (min-width: 768px) {
  .best .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 120px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .best .container .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 768px) and (min-width: 992px) and (min-width: 1400px) {
  .best .container .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
  }
}
.best .container .grid .items {
  justify-content: center;
  text-decoration: none;
  display: grid;
}
.best .container .grid .items img {
  width: 170px;
  height: 195px;
}
@media (min-width: 768px) {
  .best .container .grid .items img {
    width: 270px;
    height: 295px;
  }
}
.best .container .grid .items .textbody .infotext {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
  color: black;
}
@media (min-width: 768px) {
  .best .container .grid .items .textbody .infotext {
    font-size: 18px;
  }
}
.best .container .grid .items .textbody .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
@media (min-width: 768px) {
  .best .container .grid .items .textbody .info {
    display: flex;
    margin-right: 0;
  }
}
.best .container .grid .items .textbody .info .price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-top: 5px;
  color: #636363;
}
@media (min-width: 768px) {
  .best .container .grid .items .textbody .info .price {
    font-size: 16px;
  }
}
.best .container .grid .items .textbody .info i {
  font-size: 13px;
}
@media (min-width: 768px) {
  .best .container .grid .items .textbody .info i {
    font-size: 16px;
  }
}
.best .container .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.best .container .load-more button {
  width: 300px;
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
}
.best .container .load-more i {
  margin-left: 5px;
}

.discount {
  padding-top: 60px;
  background-color: #FAEFEF;
  height: 590px;
  margin-top: 50px;
}
.discount .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .discount .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.discount .container .items {
  text-decoration: none;
}
.discount .container .items img {
  height: 250px;
  width: 300px;
}
@media (min-width: 1200px) {
  .discount .container .items img {
    height: 310px;
    width: 369px;
  }
}
.discount .container .items .textbody {
  font-size: 10px;
  color: #636363;
  background-color: white;
  height: 120px;
  width: 370px;
}
@media (min-width: 1200px) {
  .discount .container .items .textbody {
    font-size: 16px;
  }
}
.discount .container .items .textbody .infotext {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  padding-top: 30px;
  background-color: white;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .discount .container .items .textbody .infotext {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .discount .container .items .textbody .info {
    display: flex;
    justify-content: space-between;
  }
}
.discount .container .items .textbody .info .price {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #636363;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 20px;
}
@media (min-width: 1200px) {
  .discount .container .items .textbody .info .price {
    font-size: 16px;
  }
}
.discount .container .items .textbody .info .price:hover {
  text-decoration: none;
}
.discount .container .items .textbody .info .fa-regular {
  margin-top: 10px;
  padding-top: 30px;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .discount .container .items .textbody .info .fa-regular {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
  }
}
.discount .container .sell {
  display: block;
  text-align: center;
  background-color: white;
  width: 370px;
  height: 430px;
  padding-top: 50px;
}
.discount .container .sell .title {
  font-weight: 700;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #FA3150;
}
@media (min-width: 1200px) {
  .discount .container .sell .title {
    font-size: 18px;
  }
}
.discount .container .sell h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  padding-top: 20px;
}
@media (min-width: 1200px) {
  .discount .container .sell h1 {
    font-size: 48px;
    margin-top: 20px;
  }
}
.discount .container .sell h2 {
  font-weight: 700;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 1200px) {
  .discount .container .sell h2 {
    font-size: 24px;
    margin-top: 20px;
  }
}
.discount .container .sell i {
  font-size: 12px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 2px;
}
@media (min-width: 1200px) {
  .discount .container .sell i {
    font-size: 16px;
  }
}
.discount .container .sell .discover {
  margin-bottom: 50px;
}
.discount .container .sell .discover .more {
  font-weight: 400;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  display: block;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .discount .container .sell .discover .more {
    font-size: 16px;
  }
}

.topseller {
  padding-top: 60px;
  background-color: white;
  max-width: 1920px;
}
.topseller .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  padding-top: 20px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .topseller .title {
    font-size: 30px;
  }
}
.topseller .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .topseller .container {
    display: flex;
    gap: 20px;
    padding-top: 80px;
  }
}
.topseller .container .items {
  text-decoration: none;
}
.topseller .container .items img {
  width: 270px;
  height: 295px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .topseller .container .items img {
    margin-top: 0px;
  }
}
.topseller .container .items .textbody .infotext {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .topseller .container .items .textbody .infotext {
    font-size: 18px;
    display: flex;
    justify-content: start;
  }
}
.topseller .container .items .textbody .info {
  display: block;
  justify-content: center;
  align-items: center;
  color: black;
}
@media (min-width: 992px) {
  .topseller .container .items .textbody .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
  }
}
.topseller .container .items .textbody .info .price {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #636363;
  margin-top: 10px;
  gap: 10px;
}
@media (min-width: 992px) {
  .topseller .container .items .textbody .info .price {
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
.topseller .container .items .textbody .info .price h1 {
  font-size: 12px;
  text-decoration: line-through;
  color: #636363;
  margin-top: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (min-width: 992px) {
  .topseller .container .items .textbody .info .price h1 {
    font-size: 16px;
  }
}
.topseller .container .items .textbody .info .fa-regular {
  margin-top: 10px;
  display: block;
  justify-content: flex-end;
  font-size: 13px;
}
@media (min-width: 992px) {
  .topseller .container .items .textbody .info .fa-regular {
    font-size: 16px;
    display: flex;
    margin-top: 0px;
  }
}
.topseller .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.inforow {
  padding-top: 60px;
  background-color: white;
}
.inforow .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .inforow .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.inforow .container .items {
  text-decoration: none;
}
.inforow .container .items img {
  height: 250px;
  width: 300px;
}
@media (min-width: 1200px) {
  .inforow .container .items img {
    height: 295px;
    width: 370px;
  }
}
.inforow .container .items .textbody {
  font-size: 10px;
  color: #636363;
}
@media (min-width: 1200px) {
  .inforow .container .items .textbody {
    font-size: 16px;
  }
}
.inforow .container .items .textbody .infotext {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 12px;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .inforow .container .items .textbody .infotext {
    font-size: 18px;
  }
}
.inforow .container .items .textbody .info .description {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #636363;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .inforow .container .items .textbody .info .description {
    font-size: 16px;
  }
}
.inforow .container .items .textbody .info .description p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  color: #636363;
}
.inforow .container .items .textbody .posted {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #B0B0B0;
}

.letter {
  height: 370px;
  background-color: gray;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter .container {
  margin-top: 0px;
}
.letter .container .subbox {
  height: 220px;
  background-color: white;
  padding-top: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.letter .container .subbox #sub-emailForm {
  height: 45px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: end;
}
.letter .container .subbox #sub-emailForm #sub-email {
  height: 100%;
  width: 300px;
  outline: none;
  border: 1px solid black;
  font-size: 0.9rem;
  padding-left: 1.3rem;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 800px;
}
.letter .container .subbox #sub-emailForm button {
  position: absolute;
  top: 4.5px;
  width: 250px;
  height: 45px;
  background-color: #FA3150;
  color: white;
  border: none;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.bottominfo {
  height: 50px;
  background-color: black;
  margin-top: 0px;
}
.bottominfo .container {
  margin-top: 0px;
}
.bottominfo .container p {
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 0.8em;
  color: gray;
}

.banner .container {
  max-width: 1920px;
  padding: 0;
}

.productinfo {
  margin-top: 100px;
}
.productinfo .container {
  display: flex;
}
.productinfo .container .images {
  flex: 1;
}
.productinfo .container .images .large {
  height: 475px;
}
.productinfo .container .images .imagesmall {
  display: flex;
  margin-top: 10px;
  gap: 7px;
  max-width: 501px;
  height: 113px;
}
.productinfo .container .infomation {
  flex: 1;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.productinfo .container .infomation .title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #292929;
  margin-bottom: 30px;
}
.productinfo .container .infomation p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #636363;
  line-height: 0.5;
}
.productinfo .container .infomation .rating {
  margin-top: 50px;
}
.productinfo .container .infomation .rating .fa-solid {
  color: #F9C936;
  font-size: 20px;
}
.productinfo .container .infomation .rating .reviews {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #292929;
}
.productinfo .container .infomation .price {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #292929;
  margin-top: 30px;
}
.productinfo .container .infomation .quantity {
  margin-top: 20px;
}
.productinfo .container .infomation .quantity .minus-btn {
  border: 0;
  width: 50px;
  color: black;
}
.productinfo .container .infomation .quantity input {
  border: 0;
  width: 18px;
}
.productinfo .container .infomation .quantity .plus-btn {
  border: 0;
  width: 50px;
  color: black;
}
.productinfo .container .infomation .quantity .add-to-cart-btn {
  color: white;
  background-color: #FA3150;
  height: 45px;
  width: 200px;
  border: 0;
  margin-left: 50px;
}
.productinfo .container .infomation .btn-colors {
  margin-top: 20px;
}
.productinfo .container .infomation .btn-colors .red {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #FA3150;
}
.productinfo .container .infomation .btn-colors .yellow {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #F9C936;
}
.productinfo .container .infomation .btn-colors .green {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #92B8B9;
}
.productinfo .container .infomation .btn-colors i {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  color: #292929;
  font-weight: 500;
}
.productinfo .container .infomation .addtowish {
  margin-top: 20px;
  border: none;
  color: #292929;
  width: 194px;
  height: 44px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.productinfo .container .infomation .category {
  margin-top: 20px;
}

.buttoninfo {
  margin-top: 50px;
}
.buttoninfo .container .btns {
  display: flex;
  gap: 20px;
}
.buttoninfo .container .btns .description-btn {
  width: 291px;
  height: 49px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  border-color: #AEAEAE;
}
.buttoninfo .container .btns .description-btn:hover {
  background-color: #FA3150;
  color: white;
}
.buttoninfo .container .btns .info-btn {
  width: 291px;
  height: 49px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  border-color: #AEAEAE;
}
.buttoninfo .container .btns .info-btn:hover {
  background-color: #FA3150;
  color: white;
}
.buttoninfo .container .btns .reviews-btn {
  width: 291px;
  height: 49px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  border-color: #AEAEAE;
}
.buttoninfo .container .btns .reviews-btn:hover {
  background-color: #FA3150;
  color: white;
}
.buttoninfo .container .btns .shipping-btn {
  width: 291px;
  height: 49px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
  border-color: #AEAEAE;
}
.buttoninfo .container .btns .shipping-btn:hover {
  background-color: #FA3150;
  color: white;
}

.productdescription .container .content .title {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #363636;
  margin-top: 30px;
}
.productdescription .container .content .infotext {
  max-width: 700px;
}
.productdescription .container .content .infotext h2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #636363;
  margin-top: 30px;
}
.productdescription .container .content .img {
  float: right;
  margin-top: 30px;
  margin-right: 40px;
}
.productdescription .container .line {
  height: 1px;
  background: gray;
  margin-top: 100px;
}

.related {
  margin-top: 40px;
}
.related .container .title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #292929;
}
.related .container .products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 70px;
}
.related .container .products .image-1 .productname {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.related .container .products .image-1 .price {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #636363;
}
.related .container .products .image-2 .productname {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.related .container .products .image-2 .price {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #636363;
}
.related .container .products .image-3 .productname {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.related .container .products .image-3 .price {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #636363;
}
.related .container .products .image-4 .productname {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.related .container .products .image-4 .price {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #636363;
}

.imagesection {
  background-color: #FAFAFA;
  margin-top: 30px;
  height: 285px;
}
.imagesection .container .images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 85px;
}
.commentsection .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentsection .container .commentbody {
  margin-top: 50px;
  padding-top: 10px;
  height: 600px;
  width: 1140px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.commentsection .container .commentbody .commentform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 20px;
}
.commentsection .container .commentbody .title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  margin-top: 30px;
  color: #636363;
}
.commentsection .container .commentbody .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.commentsection .container .commentbody .form-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.commentsection .container .commentbody label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 520px;
}
.commentsection .container .commentbody input[type=text],
.commentsection .container .commentbody input[type=email],
.commentsection .container .commentbody input[type=tel],
.commentsection .container .commentbody input[type=company],
.commentsection .container .commentbody textarea {
  width: 500px;
  height: 40px;
  background-color: #FAFAFA;
  border: none;
}
.commentsection .container .commentbody input[type=streetname],
.commentsection .container .commentbody textarea {
  display: flex;
  height: 100px;
  width: 1040px;
  border: none;
  margin-right: 15px;
}
.commentsection .container .commentbody .infobox {
  margin-left: 40px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.commentsection .container .commentbody button[type=submit] {
  background-color: #FA3150;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  height: 50px;
  margin-left: 40px;
}
.commentsection .container .commentbody button[type=submit]:hover {
  background-color: rgb(233, 96, 96);
}

.mapsection .google-map {
  width: 100%;
  height: 800px;
  margin-top: 200px;
  margin-bottom: 0;
}

.registersection {
  height: 1500px;
}
.registersection .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registersection .container .registerbody {
  margin-top: 50px;
  padding-top: 10px;
  height: 1110px;
  width: 1140px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.registersection .container .registerbody .registerform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 20px;
}
.registersection .container .registerbody .registerform .title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  margin-top: 30px;
  color: #636363;
}
.registersection .container .registerbody .registerform .line {
  width: 50px;
  margin-left: 40px;
}
.registersection .container .registerbody .registerform .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.registersection .container .registerbody .registerform .form-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.registersection .container .registerbody .registerform label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 500px;
}
.registersection .container .registerbody .registerform input {
  height: 50px;
  background-color: #FAFAFA;
  border: none;
}
.registersection .container .registerbody .registerform .infobox {
  margin-left: 30px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: block;
}
.registersection .container .registerbody .registerform button[type=submit] {
  background-color: #FA3150;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  height: 50px;
  margin-left: 40px;
}
.registersection .container .registerbody .registerform button[type=submit]:hover {
  background-color: rgb(233, 96, 96);
}

.loginsection {
  height: 810px;
}
.loginsection .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginsection .container .loginbody {
  margin-top: 150px;
  padding-top: 10px;
  height: 500px;
  width: 1140px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.loginsection .container .loginbody .loginform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
.loginsection .container .loginbody .loginform .title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  margin-top: 30px;
  color: #636363;
}
.loginsection .container .loginbody .loginform .line {
  width: 50px;
  margin-left: 40px;
}
.loginsection .container .loginbody .loginform .form-row {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 40px;
}
.loginsection .container .loginbody .loginform .form-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.loginsection .container .loginbody .loginform label {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 20px;
}
.loginsection .container .loginbody .loginform label i {
  color: red;
}
.loginsection .container .loginbody .loginform input {
  height: 50px;
  background-color: #FAFAFA;
  border: none;
}
.loginsection .container .loginbody .loginform .infobox {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 20px;
}
.loginsection .container .loginbody .loginform button[type=submit] {
  background-color: #FA3150;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  height: 50px;
  margin-top: 20px;
  padding: 0;
}
.loginsection .container .loginbody .loginform button[type=submit]:hover {
  background-color: rgb(233, 96, 96);
}
