$color-theme-red: #FA3150 ;
$color-theme-white:#EFEFEF ;
$color-theme-white2: #FFFFFF ;
$color-theme-white3: #F3F2F2 ;
$color-theme-lightgray: #AEAEAE ;
$color-theme-darkgray: #707070 ;
$color-theme-black: #000000 ;
$color-theme-blacklight: #1A1A1A ;
$color-theme-blacksmooth: #292929 ;
$color-theme-blackgray: #626262;
$color-theme-yellow: #F9C936 ;
$color-theme-green: #92B8B9 ;
