@using bmarketomvc.Helpers.Repositories;
@inject ProductRepo productRepo 

@{
    var products = await productRepo.GetAsync();
}
@{
    ViewData["Title"] = "All products";
}

<div class="container">
    <div style="height: 80px"></div>
    <h1>ALL PRODUCTS</h1>
    <div class="product-grid">
        <div class="row row-cols-4">
            @foreach (var product in products)
            {
                <div class="col">
                    <partial name="/Views/Partials/_Productitem.cshtml" model="product" />
                </div>
            }
        </div>
    </div>
</div>