    <!-- bottominfo börjar -->

    <div class="bottominfo">
        <div class="container">
            <p>© 2023 bmarketo.  All right reserved.</p>
        </div>
    </div>

<!-- bottom info tar slut -->