<!-- Buttoninfo börjar-->

    <div class="buttoninfo">
        <div class="container">
            <div class="btns">
                <button class="description-btn">DESCRITPION</button>
                <button class="info-btn">ADDITIONAL INFO</button>
                <button class="reviews-btn">REVIEWS (0)</button>
                <button class="shipping-btn">SHIPPING & DELIVERY</button>
            </div>
        </div>
    </div>

<!-- Buttoninfo tar slut -->