@model ContactFormViewModel
<!-- commentsection börjar -->

    <div class="commentsection">
        <div class="container">
            <div class="commentbody">
                <form asp-action="Index" asp-controller="Contacts" method="post" class="commentform" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2 class="title">Write Something</h2>
                    

                    <div class="form-row">
                        <div class="form-group">
                            <label asp-for="Name">Name*<span asp-validation-for="Name"></span></label>
                            <input asp-for="Name" type="text" required onkeyup="validateText(event)" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email*<span asp-validation-for="Email"></span></label>
                            <input asp-for="Email" type="text" required onkeyup="validateEmail(event)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label asp-for="PhoneNumber">PhoneNumber* <span asp-validation-for="PhoneNumber"></span></label>
                        <input asp-for="PhoneNumber" type="text" required onkeyup="validateText(event)" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Company">Company (optinal)</label>
                            <input asp-for="Company" type="text"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label asp-for="Message">Message* <span asp-validation-for="Message"></span></label>
                            <textarea asp-for="Message" type="text" required onkeyup="validateText(event)"></textarea>
                        </div>
                    </div>

                    <div class="infobox">
                        <label for="save-info">Save my name, email, and website in this browser for the next time I comment.</label>
                        <input type="checkbox" id="save-info" name="save-info">
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

<!-- commentsection tar slut -->