<!-- Discount collection startar -->
<div class="discount">
    <div class="container">
        <a class="items" asp-controller="product" asp-action="index">
            <img src="images/369x310.svg">
            <div class="textbody">
                <div class="infotext">Table lamp</div>
                <div class="info">
                    <div class="price">30.00$</div>
                    <i class="fa-regular fa-cart-plus"></i>
                </div>
            </div>
        </a>

        <div class="sell">
            <div class="title">Up To Sell</div>
            <h1>50% Off</h1>
            <h2>Get the best price</h2>
            <i>Get the best daily offer et accusam et<i>justo duo dolores et ea rebum. Stet</i> <i>clita kasd gubergren no sea taki</i></i>
            <div class="discover">
                <a class="more" asp-controller="products" asp-action="index">Discover More</a>
            </div>
        </div>

        <a class="items" asp-controller="product" asp-action="index">
            <img src="images/369x310.svg">
            <div class="textbody">
                <div class="infotext">Table lamp</div>
                <div class="info">
                    <div class="price">30.00$</div>
                    <i class="fa-regular fa-cart-plus"></i>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Discount collection tar slut -->