<!-- Discount collection startar -->
@inject ProductRepo productRepo;
@inject ProductEntity _productEntity;

@{
    var products = await productRepo.GetAsync();
    var temp = products.Where(x => x.Products.Any(x => x.TagId == 2)).Take(10);
    var _discountProducts = temp.TakeLast(2);
    var _firstProduct = _discountProducts.First();
    var _secondProduct = _discountProducts.Last();
}

<div class="discount">
    <div class="container">
        <div class="picture-1">
            <partial name="/Views/Partials/_Productitem.cshtml" model="_firstProduct" />
        </div>
        <div class="sell">
            <div class="title">Up To Sell</div>
            <h1>50% Off</h1>
            <h2>Get the best price</h2>
            <i>Get the best daily offer et accusam et<i>justo duo dolores et ea rebum. Stet</i> <i>clita kasd gubergren no sea taki</i></i>
            <div class="discover">
                <a class="more" asp-controller="products" asp-action="index">Discover More</a>
            </div>
        </div>
        <div class="picture-2">
            <partial name="/Views/Partials/_Productitem.cshtml" model="_secondProduct" />
        </div>
    </div>
</div>
<!-- Discount collection tar slut -->