<!-- Inforow börjar -->

    <div class="inforow">
        <div class="container">
        <a class="items" asp-controller="product" asp-action="index">
                <img src="images/370x295.svg">
                <div class="textbody">
                    <div class="infotext">Table lamp 1562 LTG modal</div>
                    <div class="info">
                        <div class="description">
                            <p>Best dress for everyone ed totam velit risus viverra</p>
                            <p>nobis donec recusandae perspiciatis incididuno</p>
                        </div>
                        <div class="posted">Posted by admin comments 13</div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                </div>
            </a>
        
            <a class="items" asp-controller="product" asp-action="index">
                <img src="images/370x295.svg">
                <div class="textbody">
                    <div class="infotext">Table lamp 1562 LTG modal</div>
                    <div class="info">
                        <div class="description">
                            <p>Best dress for everyone ed totam velit risus viverra</p>
                            <p>nobis donec recusandae perspiciatis incididuno</p>
                        </div>
                        <div class="posted">Posted by admin comments 13</div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                </div>
            </a>

            <a class="items" asp-controller="product" asp-action="index">
                <img src="images/370x295.svg">
                <div class="textbody">
                    <div class="infotext">Table lamp 1562 LTG modal</div>
                    <div class="info">
                        <div class="description">
                            <p>Best dress for everyone ed totam velit risus viverra</p>
                            <p>nobis donec recusandae perspiciatis incididuno</p>
                        </div>
                        <div class="posted">Posted by admin comments 13</div>
                        <div class="line">
                            <hr>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

<!-- Inforow tar slut -->