 <!-- letter börjar -->

    <div class="letter">
        <div class="container">
            <div class="subbox">
                <form id="sub-emailForm">
                    <input id="sub-email" type="text" placeholder="Enter email adress">
                    <button type="submit">SUBSCRIBE FOR NEWSLETTER</button>
                </form>
            </div>
        </div>
    </div>

<!-- letter tar slut -->
