<!-- related börjar -->

    <div class="related">
        <div class="container">
            <h1 class="title">Related Products</h1>
            <div class="products">

                <div class="image-1">
                    <img class="images" src="./images/270x295.svg">
                    <h2 class="productname">Gumshoes black fashion</h2>
                    <h2 class="price">$80.00</h2>
                </div>

                <div class="image-2">
                    <img class="images" src="./images/270x295.svg">
                    <h2 class="productname">Woman white dress</h2>
                    <h2 class="price">$30.00</h2>
                </div>

                <div class="image-3">
                    <img class="images" src="./images/270x295.svg">
                    <h2 class="productname">Kettle water boiler</h2>
                    <h2 class="price">$30.00</h2>
                </div>

                <div class="image-4">
                    <img class="images" src="./images/270x295.svg">
                    <h2 class="productname">Congee cooking rice cooker</h2>
                    <h2 class="price">$30.00</h2>
                </div>

            </div>
        </div>
    </div>

<!-- related tar slut -->
