<!-- Showcase -->
<section class="showcase">
    <div class="container">
        <div class="showcasetext">
            <div class="ingress">WELCOME TO BMERKETO</div>
            <div class="title">Exclusive Chair gold Collection</div>
            <button class="shopnowbtn btn-theme">SHOP NOW</button>
        </div>
        <div class="showcaseimage">
            <img src="images/625x647.svg" alt="625x647">
        </div>
    </div>
</section>
<!-- Showcaseen tar slut  -->