 <!-- Topseller startar -->
    <div class="topseller">
        <div class="title">Top selling products in this week</div>
        <div class="container">
            <partial name="/Views/Partials/_Productitem.cshtml"></partial>
            <partial name="/Views/Partials/_Productitem.cshtml"></partial>
            <partial name="/Views/Partials/_Productitem.cshtml"></partial>
            <partial name="/Views/Partials/_Productitem.cshtml"></partial>
            <partial name="/Views/Partials/_Productitem.cshtml"></partial>
        </div>
        <div class="load-more">
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
<!-- Topseller tar slut -->